## Q1.

"""
A database is a structured collection of data that is organized and stored in a way that allows for efficient data retrieval, management, and manipulation.
 
SQL :
 -  SQL databases are relational databases, which means they use a structured schema with tables, rows, and columns to store data. 
 
 -  SQL databases have a fixed schema, which means the structure of the database, including the tables and their columns, needs to be defined in advance. 
 
 - SQL databases use the SQL language for querying and managing data. 
 
 
NoSQL :
 - NoSQL databases are non-relational databases that can have various data models.
 
 -  NoSQL databases are schema-flexible, allowing for dynamic or schema-less data. 
 
 - NoSQL databases use various query languages or APIs specific to their data model. 
 """

## Q2.

"""
DDL stands for "Data Definition Language," which is a subset of SQL used to define, manage, and manipulate the structure of a database.

 - The CREATE statement is used to create new database objects, such as tables, views, indexes, and constraints.
 
 - The DROP statement is used to delete existing database objects, such as tables, views, and indexes. Once an object is dropped, its data and structure are removed from the database.
 
 - The ALTER statement is used to modify an existing database object, such as adding, modifying, or deleting columns in a table, or changing constraints or indexes.
 
 - The TRUNCATE statement is used to quickly delete all data from a table while keeping the table structure intact. It is faster than using the DELETE statement, as it doesn't log individual row deletions and is typically used for bulk data removal.
 
"""

## Q3.

"""
DML stands for "Data Manipulation Language," which is a subset of SQL used to manipulate and interact with the data stored in a database. 

 - The INSERT statement is used to add new records (rows) into a database table.
 
 - The UPDATE statement is used to modify existing records in a database table. You can specify the columns to update and the new values.
 
 - The DELETE statement is used to remove records from a database table based on specified conditions.
 
"""

## Q4.

"""
DQL stands for "Data Query Language," which is a subset of SQL used for querying and retrieving data from a database. 

 - The SELECT statement is used to retrieve data from one or more tables in a database.
 
 """

## Q5.

"""
Primary Key :
 - A Primary Key is a column or a set of columns in a database table that uniquely identifies each record or row in that table.
 
Foreign Key : 
 - A Foreign Key is a column or a set of columns in a database table that establishes a link or relationship between two tables. 
 
 
A Primary Key uniquely identifies records within a single table, while a Foreign Key establishes relationships between tables by referring to the Primary Key of another table. 
 """

## Q6.

"""
- mysql-connector-python 

The cursor() method provides a way to interact with the database, while the execute() method is used to execute SQL statements through the cursor.

"""

## Q7.

"""
 - FROM: The FROM clause specifies the tables or data sources from which you are retrieving data. 
 
 - WHERE: The WHERE clause filters the rows from the tables specified in the FROM clause. 
 
 - GROUP BY :  It groups rows that share the same values in the specified columns, creating summary groups for aggregation.
 
 - HAVING: The HAVING clause is used in conjunction with the GROUP BY clause.
 
 - SELECT: The SELECT clause determines which columns and expressions will be included in the result set.
 
 - DISTINCT: If you use the DISTINCT keyword, it is applied after the SELECT clause, ensuring that the result set contains only distinct rows.
 
 - ORDER BY: The ORDER BY clause is used to sort the result set based on one or more columns.
 
 - LIMIT/OFFSET: If you want to limit the number of rows returned or implement pagination, the LIMIT and OFFSET clauses are applied last.
 
"""